extends layout

block content
  h1= title
  h2 Shaan Varia, Anya Ramamurthy, Ben Schiller, Stefan Dasbach, Christian Hansen
  p Click on a link to go to specific submission page.
  ul
    li
      a(href="/hw2") Homework 2
    li
      a(href="/hw3") Homeowrk 3
